<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../Static/theme.css" type="text/css"/> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Drones
        <br> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Produtos
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Carrinho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Ajuda
              <br> </a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2 m-0 w-50" type="text" placeholder="Search">
          <button class="btn btn-info" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Cadastrar-se
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login
              <br> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">Cadastro&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <br> </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card text-white bg-info p-3" id="Cadastro">
            <div class="card-body text-dark">
              <form action="https://formspree.io/YOUREMAILHERE">
                <div class="form-group text-dark w-75 form-row"> <label class="col-sm-2 col-form-label">Nome&nbsp;<br></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Insira seu nome"> </div>
                </div>
                <div class="form-group text-dark w-75 form-row"> <label class="col-sm-2 col-form-label">Ultimo Nome<br></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Insira seu ultimo nome"> </div>
                </div>
                <div class="form-group text-dark w-75 form-row"> <label class="col-sm-2 col-form-label">CPF<br></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Insira seu CPF"> </div>
                </div>
                <div class="form-group text-dark w-75 form-row"> <label class="col-sm-2 col-form-label">CEP<br></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Insira seu CEP"> </div>
                </div>
                <div class="form-group text-dark w-75 form-row"> <label class="col-sm-2 col-form-label">Endereço<br></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Insira o Logradouro"> </div>
                </div>
                <div class="form-group text-dark w-75 form-row"> <label class="col-sm-2 col-form-label">Número<br></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Insira  o número"> </div>
                </div>
                <div class="form-group text-dark w-75 form-row"> <label class="col-sm-2 col-form-label">E-mail<br></label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" placeholder="Insira seu e-mail"> </div>
                </div>
                <div class="form-group w-75 form-row"> <label class="col-sm-2 col-form-label">Senha</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Insira sua senha"> </div>
                </div>
                <div class="form-group w-75 form-row"> <label class="col-sm-2 col-form-label">Confirmar Senha</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Insira sua senha novamente"> </div>
                </div>
                <button type="submit" class="btn btn-dark text-left btn-lg">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted text-center">contato@drone.com | Av Engenheiro Eugênio Estevaux, 823 - Jurubatuba - são Paulo/SP | Telefone: (11)1234-55555</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>