<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
        <script type="text/javascript">
            function pegarQtd() {
                let qtd;
                let id;
                qtd = document.getElementById("qtdUsu").value;
                id = document.getElementById("ProdId").value;
                for (var i = 0; i < id.length; i++) {
                    if (id[i] === document.getElementById("ProdId").value) {
                        document.getElementById("inp").value = qtd;
                    }
                }

            }
        </script>

    </head>
    <body>
        <div th:replace="Master :: nav">
        </div>
        <form th:action="@{/venda/vendaFim}" method="post" th:object="${prodQtd}">
            <!-- product generated -->
            <div class="py-3" th:each="c, rowStat : ${session.carrinho}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="d-block img-fluid float-left img-thumbnail" th:src="${c.imagem_url}"> 
                        </div>
                        <div class="col-md-5 ">
                            <h1 class="" th:text="${c.nome}"><b>Drone Super Hiper Legal Mesmo</b></h1>
                        </div>
                        <div class="col-md-4" >
                            <p class="lead" th:text="${c.precos.precoFormatado}">Por: R$2.200,00
                                <br>ou, à vista : R$ 1.980,00
                            </p>
                            <a class="btn btn-lg btn-danger" th:href="@{/carrinho/remover/{id}(id=${c.idProd})}" type="submit">Remover do Carrinho</a>
                            <br>
                            <input type="hidden" th:field="*{quantidade[__${rowStat.index}__].id}" />
                            <input id="inp" class="btn-light col-md-3 rounded btn-md"  th:field="*{quantidade[__${rowStat.index}__].quantidade}" th:type="number" >
                            <button id="qtdBtnPlus" th:type="submit" class="btn btn-dark text-left btn-lg" onclick="pegarQtd()">Atualizar Quantidade</button>
                            <p><span  style="display: none" th:text="${c.precos.precoFormatado}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade lg" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel" >Cadastro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <article class="card-body">
                                    <a class="float-right btn btn-outline-info" data-toggle="modal" data-target="#modalLogin">Cadastrar-se</a>
                                    <h4 class="card-title mb-1 mt-1">Login</h4>
                                    <form>
                                        <div class="form-group" >
                                            <label>E-Mail</label>
                                            <input name=""  class="form-control" placeholder="Email" type="email">
                                        </div> <!-- form-group// -->
                                        <div class="form-group">
                                            <a class="float-right" href="#">Esqueceu sua senha?</a>
                                            <label>Senha</label>
                                            <input class="form-control" placeholder="******" type="password">
                                        </div> <!-- form-group// --> 
                                    </form>
                                </article>
                            </div> <!-- card.// -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Voltar</button>
                                <button type="submit"  class="btn btn-dark text-left btn-lg">login</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--    Modal      -->  
        <!-- Frete e total COMEÇO-->    
        <div class="py-3" th:if="${session.carrinho} != null">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="">Calcular Frete:</h5>
                            <input class="form-control mr-2" type="text" placeholder="CEP"> 
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12  ">
                                <div class="card">
                                    <div class="form-check m-1">
                                        <input class="form-check-input" name="group100" type="radio" id="radio100" value="on"> <label class="form-check-label" for="radio100">Sedex - 3 dias</label> 
                                    </div>
                                    <div class="form-check m-1">
                                        <input class="form-check-input" name="group100" type="radio" id="radio101" checked="" value="on"> <label class="form-check-label" for="radio101">Pac - 7 dias</label> 
                                    </div>
                                    <div class="form-check m-1">
                                        <input class="form-check-input" name="group100" type="radio" id="radio102" value="on"> <label class="form-check-label" for="radio102">Padrão - 14 dias</label> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <div class="card">
                                <p class="lead m-2">SubTotal: </p>
                                <p class="lead m-2">Frete:  </p>
                                <p class="lead m-2">TOTAL: </p>
                                <button class="btn btn-success btn-lg" type="submit" th:if="${session.usuario != null}">Comprar</button>
                                <a class="btn btn-success btn-lg" type="submit" th:if="${session.usuario == null}" data-toggle="modal" data-target="#modalLogin">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="alert alert-info" th:if="${session.carrinho} == null" role="alert">
        Não há produtos no carrinho!
    </div>
    <!-- Frete e total FIM-->    
    <div th:replace="Master :: footer">
    </div>
</body>
</html>