<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
   </head>
   <body>
      <div th:replace="Master :: nav ">
      </div>
      <div class="py-3 bg-dark">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="display-3">Contato
                     <br> 
                  </h1>
               </div>
            </div>
         </div>
      </div>
      <div class="py-3 text-light">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-dark">
                  <h1 class="text-dark">Entre em contato
                     <br> 
                  </h1>
                  <p>Caso tenha dúvidas, não hesite em enviar um e-mail para agente!</p>
                  <form>
                     <div class="form-group"> <label for="InputName">Seu nome<br></label>
                        <input type="text" class="form-control" id="InputName" placeholder="Seu nome"> 
                     </div>
                     <div class="form-group"> <label for="InputEmail1">E-mail</label>
                        <input type="email" class="form-control" id="InputEmail1" placeholder="E-mail"> 
                     </div>
                     <div class="form-group"> <label for="Textarea">Sua mensagem<br></label> <textarea class="form-control" id="Textarea" rows="3" placeholder="Digite aqui sua mensagem"></textarea> </div>
                     <button type="submit" class="btn btn-dark btn-lg">Enviar
                     <br> </button>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div th:replace="Master :: footer">
      </div>
   </body>
</html>