<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
   </head>
   <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
         <div class="container">
            <a class="navbar-brand" href="#">Drones
            <br> </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="#">Home
                     <br> </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-white" href="#">Produtos
                     <br> </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Carrinho</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Contato
                     <br> </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Ajuda
                     <br> </a>
                  </li>
               </ul>
               <form class="form-inline m-0">
                  <input class="form-control mr-2 w-50 m-0" type="text" placeholder="Search">
                  <button class="btn btn-info" type="submit">Search</button>
               </form>
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="#">Cadastrar-se
                     <br> </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Login
                     <br> </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="py-5">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <img class="d-block img-fluid float-left img-thumbnail" th:src="${produto.imagem_url}"> 
               </div>
               <div class="col-md-5 " >
                  <h1 class="" th:text="${produto.nome}"><b>Nome Prod</b><b>&nbsp;</b></h1>
                  <p class="lead" th:text="${produto.precos.precoFormatado}">Preço</p>
                  <p class="lead"><b>Acompanha:</b>
                     <br> 
                  </p>
                  <ul class="">
                     <li>1 Drone</li>
                     <li>1 Carregador</li>
                     <li>Antena Imbutida
                        <br> 
                     </li>
                     <li>1 Bateria Recarregável &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <br> 
                     </li>
                     <li>1 Controle &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <br> 
                     </li>
                  </ul>
               </div>
               <div class="col-md-4  ">
                  <div class="card">
                     <div class="card-body">
                        <h4 class="border">Calcular Frete:</h4>
                        <input class="form-control mr-2" type="text" placeholder="CEP"> 
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" name="group100" type="radio" id="radio100" value="on"> <label class="form-check-label" for="radio100">Sedex - 3 dias</label> 
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" name="group100" type="radio" id="radio101" checked="" value="on"> <label class="form-check-label" for="radio101">Pac - 7 dias</label> 
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" name="group100" type="radio" id="radio102" value="on"> <label class="form-check-label" for="radio102">Padrão - 14 dias</label> 
                     </div>
                     <button class="btn btn-success w-100 m-0 py-2 btn-lg" type="submit">Comprar</button>
                     <button class="btn btn-light py-2 btn-lg" type="submit">Carrinho</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="py-5">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="col-md-12" style="transition: all 0.25s;">
                     <h1 class="">Descrição do Produto
                        <br> 
                     </h1>
                     <p class="" th:text="${produto.descricao}">Descrição</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <h1 class="">Detalhes técnicos&nbsp;</h1>
                  <ul class="">
                     <li th:text="'Duração da bateria de ' + ${produto.bateriaDuracao} + ' ' + 'Horas'">Duração da bateria</li>
                     <li th:text="'Camera de ' + ${produto.camera} + ' ' + 'Mega Pixel'">Camera</li>
                     <li th:text="'Fabricante do drone: ' + ${produto.fabricante}">Fabricante</li>
                     <li th:text="'Peso do Drone de: ' + ${produto.peso} + ' Kilos'">Peso</li>
                     <li th:text="'Velocidade máxima do drone é de ' + ${produto.velocidadeMax} + ' Km/h'">Velocidade Maxima</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="py-5 bg-dark text-white col-md-12">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="row">
                     <div class="col-md-12 ">
                        <p class="text-muted text-center">contato@drone.com | Av Engenheiro Eugênio Estevaux, 823 - Jurubatuba - são Paulo/SP | Telefone: (11)1234-55555</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>
</html>