<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
        <script>
            function reqCorreios() {
                if(document.getElementById("cepDest").value!=null){
                var url = "http://ws.correios.com.br/calculador/CalcPrecoPrazo.aspx?nCdEmpresa=&sDsSenha=&sCepOrigem=04696000&sCepDestino=" + document.getElementById("cepDest").value + "&nVlPeso=1&nCdFormato=1&nVlComprimento=20&nVlAltura=20&nVlLargura=20&sCdMaoPropria=s&nVlValorDeclarado=0&sCdAvisoRecebimento=s&nCdServico=40010&nVlDiametro=0&StrRetorno=xml&nIndicaCalculo=3";
                var ajax = new XMLHttpRequest();
                ajax.open("GET", url, true);
                ajax.send();
                ajax.onreadystatechange = function () {
                    if (ajax.readyState == 4 && ajax.status == 200) {
                        var data = ajax.responseText;
                        console.log(data);
                        document.getElementById("valorFreteNorm").innerHTML = "Correios Pac - " + this.responseText.substring(121, this.responseText.indexOf("<", 121)) + " dias para entrega:" + this.responseText.substring(94, 99);
                    }
                }
                reqCorreios2();
            }else{
               alert("Insira o CEP"); 
            }
            }


            function reqCorreios2() {
                var urlPac = "http://ws.correios.com.br/calculador/CalcPrecoPrazo.aspx?nCdEmpresa=&sDsSenha=&sCepOrigem=04696000&sCepDestino=" + document.getElementById("cepDest").value + "&nVlPeso=1&nCdFormato=1&nVlComprimento=20&nVlAltura=20&nVlLargura=20&sCdMaoPropria=s&nVlValorDeclarado=0&sCdAvisoRecebimento=s&nCdServico=41106&nVlDiametro=0&StrRetorno=xml&nIndicaCalculo=3";
                var ajax = new XMLHttpRequest();
                ajax.open("GET", urlPac, true);
                ajax.send();
                ajax.onreadystatechange = function () {
                    if (ajax.readyState == 4 && ajax.status == 200) {
                        var data1 = ajax.responseText;
                        console.log(data1);
                        document.getElementById("valorFretePac").innerHTML = "Correios Normal - " + this.responseText.substring(121, this.responseText.indexOf("<", 121)) + " dias para entrega:" + this.responseText.substring(94, 99);
                    }
                }

            }

        </script>
    </head>
    <body>
        <div th:replace="Master :: nav ">
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img class="d-block img-fluid float-left img-thumbnail" th:src="${produto.imagem_url}"> 
                    </div>
                    <div class="col-md-5 " >
                        <h1 class="" th:text="${produto.nome}"><b>Nome Prod</b><b>&nbsp;</b></h1>
                        <p class="lead" th:text="${produto.precos.precoFormatado}">Preço</p>
                        <p class="lead"><b>Acompanha:</b>
                            <br> 
                        </p>
                        <ul class="">
                            <li>1 Drone</li>
                            <li>1 Carregador</li>
                            <li>Antena Imbutida
                                <br> 
                            </li>
                            <li>1 Bateria Recarregável 
                                <br> 
                            </li>
                            <li>1 Controle 
                                <br> 
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4  ">
                        <div class="card pb-3">
                            <div class="card-body">
                                <h4>Calcular Frete:</h4>
                                <input class="form-control mb-1 mr-2" type="text" id="cepDest" placeholder="CEP"> 
                                
                                <button class="form-control btn-light mt-2 col-md-5" onclick="reqCorreios()">Calcular Frete</button>
                            </div>
                            <div class="form-check ml-3">
                                <input class="form-check-input" name="group100" type="radio" id="radio100" value="on">
                                <label class="form-check-label" id="valorFreteNorm" for="radio100">
                                </label><br>
                                <input class="form-check-input" name="group100" type="radio" id="radio101" checked="" value="on">
                                <label class="form-check-label" id="valorFretePac" for="radio101">
                                </label> 
                            </div>
                            <form method="post" th:action="@{/carrinho/{id}(id=${produto.idProd})}">
                                <button class="btn btn-success py-2 ml-3 mt-2 btn-lg" type="submit">Adicionar ao Carrinho</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="col-md-12" style="transition: all 0.25s;">
                            <h1 class="">Descrição do Produto
                                <br> 
                            </h1>
                            <p class="" th:text="${produto.descricao}">Descrição</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h1 class="">Detalhes técnicos</h1>
                        <ul class="">
                            <li th:text="'Duração da bateria de ' + ${produto.bateriaDuracao} + ' ' + 'Horas'">Duração da bateria</li>
                            <li th:text="'Camera de ' + ${produto.camera} + ' ' + 'Mega Pixel'">Camera</li>
                            <li th:text="'Fabricante do drone: ' + ${produto.fabricante}">Fabricante</li>
                            <li th:text="'Peso do Drone de: ' + ${produto.peso} + ' Kilos'">Peso</li>
                            <li th:text="'Velocidade máxima do drone é de ' + ${produto.velocidadeMax} + ' Km/h'">Velocidade Maxima</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="Master :: footer">
        </div>
    </body>
</html>