<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
   </head>
   <body>
      <div th:replace="Master :: nav">
      </div>
       <form th:action="@{/venda/finalizar}" th:object="${venda}" method="post">
       <div class="py-3 bg-dark">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="display-4">Finalizar Compra
                  </h1>
               </div>
            </div>
         </div>
      </div>
      <div class=" col-md-12">
         <div class="container">
            <div class="row">
               <div class="card-header col-lg-12 py-4" style="">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-4" style="">
                           <div class="blockquote">
                              <p class="mb-0">Produtos:</p>
                           </div>
                           <div class="blockquote" th:each="c : ${session.carrinho}">
                              <div class="blockquote-footer " th:text="${c.nome}">Prod</div>
                              <div class="col-md-4" th:text="'Quantidade: '+${c.quantidadeUsu}">qtd</div>
                              <div class="col-md-4" th:text="'preco '+${c.precos.precoFormatado}">qtd</div>
                           </div>
                            <div class="col-md-4" th:text="'SubTotal: ' + ${venda.totalVenda}">total</div>
                        </div>
                        <div class=" col-md-4" >
                            
                            <div class="blockquote">
                              <p class="mb-0">Dados de entrega:</p>
                              <label for="End">Endereço:</label>
                              <input id="End" class="blockquote-footer" th:value="${session.usuario.rua}">
                              <label for="nome">Nome:</label>
                              <input id="nome"class="blockquote-footer" th:value="${session.usuario.nome}">
                              <label for="tel">Telefone:</label>
                              <input id="tel" class="blockquote-footer" th:value="${session.usuario.celular}">
                           </div>
                        </div>
                        <div class="col-md-4 ">
                            <p class="mb-0">Dados de Pagamento:</p>
                           <label for="NumeroCartao" >Numero do Cartão: </label>
                              <input id="NumeroCartao" th:field="*{numeroCartao}" class="blockquote-footer" >
                              <label for="nome">Nome:</label>
                              <input id="nome" class="blockquote-footer" >
                              <label for="parcelas" >Parcelas</label>
                              <input id="parcelas" th:field="*{parcelas}" class="blockquote-footer" >
                              <select id="formaPag" th:field="*{formaPagamento}">
                                  <option value="MC">MC</option>
                                  <option value="VI">VI</option>
                                  <option value="HE">HE</option>
                                  <option value="AX">AX</option>
                              </select>
                              
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="py-5">
         <div class="container">
            <div class="row">
               <button class="col-md-3" th:type="submit">Finalizar</button>
               
            </div>
         </div>
      </div>
       </form>
      <div th:replace="master :: footer">
      </div>
   </body>
</html>