<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
        <script>
            function limpa_formulário_cep() {
                //Limpa valores do formulário de cep.
                document.getElementById('rua').value = ("");
                document.getElementById('bairro').value = ("");
                document.getElementById('cidade').value = ("");
                document.getElementById('uf').value = ("");
                document.getElementById('ibge').value = ("");
            }

            function meu_callback(conteudo) {
                if (!("erro" in conteudo)) {
                    //Atualiza os campos com os valores.
                    document.getElementById('rua').value = (conteudo.logradouro);
                    document.getElementById('bairro').value = (conteudo.bairro);
                    document.getElementById('cidade').value = (conteudo.localidade);
                    document.getElementById('uf').value = (conteudo.uf);
                    } //end if.
                else {
                    //CEP não Encontrado.
                    limpa_formulário_cep();
                    
                }
            }

            function pesquisacep(valor) {

                //Nova variável "cep" somente com dígitos.
                var cep = valor.replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if (validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        document.getElementById('rua').value = "...";
                        document.getElementById('bairro').value = "...";
                        document.getElementById('cidade').value = "...";
                        document.getElementById('uf').value = "...";
                        
                        //Cria um elemento javascript.
                        var script = document.createElement('script');

                        //Sincroniza com o callback.
                        script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

                        //Insere script no documento e carrega o conteúdo.
                        document.body.appendChild(script);

                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            }
            ;

        </script>
    </head>
    <body>
        <div th:replace="Master :: nav">
        </div>
        <form th:action="@{/venda/finalizar}" th:object="${venda}" method="post">
            <div class="py-3 bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="display-4">Finalizar Compra
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="card-header col-lg-12 py-4" style="">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4" style="">
                                        <div class="blockquote">
                                            <p class="mb-0">Produtos:</p>
                                        </div>
                                        <div class="blockquote" th:each="c : ${session.carrinho}">
                                            <div class="blockquote-footer " th:text="${c.nome}">Prod</div>
                                            <div class="col-md-4" th:text="'Quantidade: '+${c.quantidadeUsu}">qtd</div>
                                            <div class="col-md-4" th:text="'preco '+${c.precos.precoFormatado}">preço</div>
                                        </div>
                                        <div class="col-md-4" th:text="'SubTotal: ' + ${venda.totalVenda}">total</div>
                                    </div>
                                    <div class=" col-md-4" >
                                        <div class="card p-1 blockquote">
                                            <p class="mb-0">Dados de entrega:</p>
                                            <label for="nome">Nome:</label>
                                            <input id="nome" class="form-control" th:field="*{nome}">
                                            <p class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">nome incorreto</p>

                                            <label for="tel">Telefone:</label>
                                            <input id="tel" class="form-control" th:field="*{celular}">
                                            <p class="text-danger" th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}">celular incorreto</p>

                                            <form method="get" action=".">
                                                <label>Cep:
                                                    <input class="form-control" th:field="*{cep}" name="cep" type="text" id="cep" value="" size="10" maxlength="9"
                                                           onblur="pesquisacep(this.value);" /></label>
                                                <p class="text-danger" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}">cep incorreto</p>
                                                <label>Endereço:
                                                    <input class=" form-control" th:field="*{rua}" name="rua" type="text" id="rua" size="60" /></label>
                                                <p class="text-danger" th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}">rua incorreto</p>
                                                <label for="num">Número:</label>
                                                <input id="num" class="form-control" th:field="*{numero}">
                                                <p class="text-danger" th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}">numero incorreto</p>
                                                <label>Bairro:
                                                    <input class="form-control"  name="bairro" type="text" id="bairro" size="40" /></label>
                                                <label>Cidade:
                                                    <input class="form-control" th:field="*{cidade}" name="cidade" type="text" id="cidade" size="40" /></label>
                                                <p class="text-danger" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}">cidade incorreto</p>
                                                <label>Estado:
                                                    <input class="form-control" th:field="*{estado}" name="uf" type="text" id="uf" size="2" /></label>
                                                <p class="text-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">estado incorreto</p>
                                            </form>
                                        </div>
                                    </div>
                                    <div class=" card col-md-4 ">
                                        <p class="mb-0">Dados de Pagamento:</p>

                                        <label for="NumeroCartao" >Numero do Cartão: </label>
                                        <input id="NumeroCartao" th:field="*{numeroCartao}" class="form-control" >
                                        <p class="text-danger" th:if="${#fields.hasErrors('numeroCartao')}" th:errors="*{numeroCartao}">numeroCartao incorreto</p>
                                        <label for="nome">Nome do titular:</label>
                                        <input id="nome" class="form-control" th:field="*{nomeTitular}">
                                        <p class="text-danger" th:if="${#fields.hasErrors('nomeTitular')}" th:errors="*{nomeTitular}">nomeTitular incorreto</p>
                                        <label for="validade">Validade:</label>
                                        <input  class="form-control" type="date" id="validade" th:field="*{validadeCartao}">
                                        <p class="text-danger" th:if="${#fields.hasErrors('validadeCartao')}" th:errors="*{validadeCartao}">date incorreto</p>
                                        <label for="segCod">Código de Segurança:</label>
                                        <input id="segCod" class="form-control" th:field="*{codigoSeguranca}">
                                        <p class="text-danger" th:if="${#fields.hasErrors('codigoSeguranca')}" th:errors="*{codigoSeguranca}">codigoSeguranca incorreto</p>
                                        <label for="parcelas" >Parcelas</label>
                                        <input id="parcelas" th:field="*{parcelas}" class="form-control" >
                                        <p class="text-danger" th:if="${#fields.hasErrors('parcelas')}" th:errors="*{parcelas}">parcelas incorreto</p>
                                        <select id="formaPag" class="form-control mt-2" th:field="*{formaPagamento}">
                                            <option value="MC">MC</option>
                                            <option value="VI">VI</option>
                                            <option value="HE">HE</option>
                                            <option value="AX">AX</option>
                                        </select>
                                        <p class="text-danger" th:if="${#fields.hasErrors('formaPagamento')}" th:errors="*{formaPagamento}">formaPagamento incorreto</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <button class="col-md-8 btn-success form-control" th:type="submit">Finalizar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div th:replace="master :: footer">
        </div>
    </body>
</html>