<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
    </head>
    <body>
        <div th:replace="Master:: nav">
        </div>
        <div class="py-5">
            <div class="container" style="align-content: center">
                <div class="col-md-4 card">
                    <article class="card-body">
                        <a href="" class="float-right btn btn-outline-primary">Cadastrar-se</a>
                        <h4 class="card-title mb-4 mt-1">Login</h4>
                        <form th:action="@{/login/logando}" th:object="${login}" method="post">
                            <div class="form-group" >
                                <label>E-Mail</label>
                                <input name="" th:field="*{user}" class="form-control" placeholder="Email" type="email">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <a class="float-right" href="#">Esqueceu sua senha?</a>
                                <label>Senha</label>
                                <input class="form-control" th:field="*{senha}" placeholder="******" type="password">
                            </div> <!-- form-group// --> 
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div> <!-- form-group// -->                                                           
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>
        <div th:replace="master :: footer">
        </div>
    </body>
</html>