<!DOCTYPE html>
<html>
   <head>
      <!-- HEAD REFERENCE START -->
         <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
         <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
      <!-- HEAD REFERENCE END -->
      <title>Master HTML</title>
   </head>
   <body>
      <!-- NAVBAR REFERENCE START -->    
      <div th:fragment="nav">
         <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container">
               <a class="navbar-brand" th:href="@{/home/paginaInicial}">Drones
               <br> </a>
               <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/home/paginaInicial}">Home
                        <br> </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/produtos/telaProdutos}">Produtos
                        <br> </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/carrinho/telaCarrinho}">Carrinho
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/home/contato}">Contato
                        <br> </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/home/ajuda}">Ajuda
                        <br> </a>
                     </li>
                  </ul>
                  <form class="form-inline m-0">
                     <input class="form-control mr-2 m-0 w-50" type="text" placeholder="Search">
                     <button class="btn btn-info" type="submit">Search</button>
                  </form>
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item" th:if="${session.usuario == null}">
                        <a class="nav-link" text-white th:href="@{/cadastrar/cliente/cadastro}">Cadastrar-se
                        <br> </a>
                     </li>
                     <li class="nav-item" th:if="${session.usuario == null}">
                        <a class="nav-link" text-white th:href="@{/login/telaLogin}">Login
                        <br> </a>
                     </li>
                     <li>
                        <div class="dropdown" th:if="${session.usuario != null}">
                           <button type="button" class="btn btn-primary btn-dark dropdown-toggle" data-toggle="dropdown">
                           <a th:text="${session.usuario.nome}" th:unless="${session == null}"></a>
                           </button>
                           <div class="dropdown-menu btn-light">
                              <a class="dropdown-item" href="#">Alterar Cadastro</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#">Acompanhar Pedido</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" th:href="@{/login/logout}">Logout</a>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      <!-- NAVBAR REFERENCE END -->
      <!-- FOOTER REFERENCE START -->
      <div th:fragment="footer">
         <div class="py-5 bg-dark text-white">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p class="text-muted text-center">contato@drone.com | Av Engenheiro Eugênio Estevaux, 823 - Jurubatuba - são Paulo/SP | Telefone: (11)1234-55555</p>
                  </div>
               </div>
            </div>
         </div>
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </div>
      <!-- FOOTER REFERENC END -->
   </body>
</html>