<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
        <script type="text/javascript">
            var btnContainer = document.getElementById("myBtnContainer");
            var btns = btnContainer.getElementsByPrice("btn");
                for (var i = 0; i < btns.length; i++) {
                    btns[i].addEventListener("click", function(){
                    var current = document.getElementsByPrice("active");
                    current[0].price = current[0].price.replace(" active", "");
                    this.price += " active";
                    });
                }
           filterSelection("allprice")
           function filterSelection(p) {
             var x, i;
             x = document.getElementsByClassName("filterDiv");
                if (p == "allprice") p = "";
                for (i = 0; i < x.length; i++) {
                    w3RemoveClass(x[i], "show");
                    if (x[i].price.indexOf(p) > -1) w3AddClass(x[i], "show");
            }
               }
            
        </script>    
    </head>
    <body>
        <div th:replace="Master:: nav">
        </div>
        <div class="py-3 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">Produtos
                            <br> 
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <h2>Filtro por preço</h2>
                    <div id="myBtnContainer">
                        <button class="btn active" onclick="filterSelection('allprice')"> Mostrar todos</button>
                        <button class="btn" onclick="filterSelection('${p.precos.precoFormatado}')">R$0 até R$1.499,00</button>
                        <button class="btn" onclick="filterSelection('${p.precos.precoFormatado}')">R$1.500,00 até R$3.999,00</button>
                        <button class="btn" onclick="filterSelection('${p.precos.precoFormatado}')">R$4.000,00 até R$7.999,00</button>
                        <button class="btn" onclick="filterSelection('${p.precos.precoFormatado}')">R$8.000,00 + </button>   
                    </div>
                    
                </li>
            </ul>
            <!-- thymeleaf do rafa -->
            <div class="container mt-6">
                <div class="row mt-6 ">
                    <div class="col-md-4 mt-6" th:each="p :${session.prods}">
                        <div class="card mt-2">
                            <img style="max-width: 286px;max-height:200px;" class="card-img-top float " th:src="${p.imagem_url}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${p.nome}"><br></h5>
                                <h5 class="card-title" th:text="${p.precos.precoFormatado}"><br></h5>
                                <p class="card-text" style="text-overflow: ellipsis; overflow: hidden; width: 160px; height: 2.4em; white-space: nowrap;" th:text="${p.descricao}"></p>
                                <a  class="btn btn-lg m-1 btn-success" th:href="@{/carrinho/add/{id}(id=${p.idProd})}">Adicionar ao carrinho</a>
                                <a class="btn btn-lg m-1 btn-info" th:href="@{/produtos/{id}(id=${p.idProd})}">Ver Detalhes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- thymeleaf do rafa -->
        <div th:replace="Master :: footer">
        </div>
    </body>
</html>
