<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
      <link rel="stylesheet" th:href="@{/theme.css}" type="text/css"/>
   </head>
   <body>
      <div th:replace="Master :: nav">
      </div>
      <div class="py-3 bg-dark">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="display-4">Resumo da Compra
                  </h1>
               </div>
            </div>
         </div>
      </div>
      <div class=" col-md-12">
         <div class="container">
            <div class="row">
               <div class="card-header py-5" style="">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-4" style="">
                           <div class="blockquote">
                              <p class="mb-0">Produtos:</p>
                           </div>
                           <div class="blockquote">
                              <div class="blockquote-footer">Produto1</div>
                           </div>
                           <div class="blockquote">
                              <div class="blockquote-footer">Produto2<br></div>
                           </div>
                           <div class="blockquote">
                              <div class="blockquote-footer">Produto3</div>
                           </div>
                           <div class="blockquote">
                              <div class="blockquote-footer">Produto4</div>
                           </div>
                        </div>
                        <div class=" col-md-4">
                           <div class="blockquote">
                              <p class="mb-0">Dados de entrega:</p>
                              <div class="blockquote-footer">Endereço:RUA DA PUT* QUE TE PARIU, 2469
                              </div>
                              <div class="blockquote-footer">Destinatário: Lúcifer da silva
                              </div>
                              <div class="blockquote-footer">Telefone de contato : (11)6669-6669
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4 ">
                           <div class="blockquote">
                              <p class="mb-0">Método de pagamento:</p>
                              <div class="blockquote-footer">Cartão de Crédito: Visa</div>
                              <div class="blockquote-footer">Número:123 456 789-123</div>
                              <div class="blockquote-footer">Nome impresso: LUCIFER DA SILVA</div>
                              <div class="blockquote-footer">Preço: 616,66<br></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="py-5">
         <div class="container">
            <div class="row">
               <div class="col-md-3"><a class="btn btn-dark" href="#">Home</a></div>
               <div class="col-md-3"></div>
               <div class="col-md-3"></div>
               <div class="col-md-3"><a class="btn btn-dark" href="#">Continuar comprando! </a></div>
            </div>
         </div>
      </div>
      <div th:replace="footer">
      </div>
   </body>
</html>